[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/stats/*"
  to = "/.netlify/functions/analytics"
  status = 200
  force = true

[[redirects]]
  from = "/api/analytics/*"
  to = "/.netlify/functions/analytics"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/analytics"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
